html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #ccc;
	/*background: url(../img/gummy-bear-wallpaper-1024x640.jpg) no-repeat center top / cover;*/
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 10px;
}

p {
	margin: 5px;
}

.canvas {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: #fff;
}

.game-container {

	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-title {
	color: #ff4456;
}

.gummy-icon {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
}

.result-info {
	display: flex;
}
.result-info div {
	margin-right: 20px;
}